#map { 
    bottom:0;
    left:-50%;
    position:absolute; 
    top: 48px; 
    width: 200%; 
    z-index: -100;
   }

   #pane {
    bottom: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 66.6666%;
   /* z-index: -200;*/
   }

   #contact-content, #about-content{
    display: none;
   }

   .sidebox .nav-pills > li {
    text-align: center;
    width: 33.33%;
    box-sizing: border-box;
   }

   .sidebox .nav-pills > li > a {
    background-color: #FFF;
    /*border: 1px solid #24A6E8;*/
    border-right: 1px solid #24A6E8;
    /*margin: 0 -1px 0 0;*/
    padding: 15px 0 15px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
   }

   .sidebox .nav-pills > .last > a{
    border-right: none;
   }

   .sidebox .nav-pills > .active > a,
   .sidebox .nav-pills > .active > a:hover,
   .sidebox .nav-pills > .active > a:focus {
    background: none repeat scroll 0 0 #24A6E8;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 2px #136491;
   }

   .sidebox .nav-pills > li > a:focus,
   .sidebox .nav-pills > li > a:hover {
    color: #0088cc;
    text-decoration: underline;
   }

   .content {
    background-color: #FFF;
    bottom:0;
    border: solid #24A6E8;
    border-width: 15px 1px;
    border-radius: 0;
    box-shadow: none;
    display: block;
    height:auto;
    margin-top: 52px;
    opacity: 0.9;
    overflow: hidden;
    padding: 12px;
    position: absolute; 
    right:15px;
    top:0;
    width: 33.3333%;
   }

   .menu {
    display: none;
   }

  .leaflet-control-container #geolocate{
    font-size: 16px;
  }

   .map-attribution {
    position: fixed !important;
   }

   .map-tooltip {
    display: none !important;
   }

   .loading {
    background-image: url("../img/loader.gif") !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
   }

   .leaflet-control a.mapbox-share {
    background-image: none;
    font-size: 16px;
   }

/* ==========================================================================
   Leaflet overrides... 
   ========================================================================== */

   .leaflet-container {
    background: none !important;
   }

   .leaflet-control-attribution {
    bottom: 2px;    
    left: 0;
    position: fixed;
   }

  .leaflet-control {
    border-radius: 0;
    position: fixed;
    opacity: 0.8;
    left: 0;
  }
  
   .leaflet-control-zoom {
      top: 52px;
   }

   .leaflet-control-mapbox-share {
    top: 125px;
   }
