/* ==========================================================================
   Custom styles
   ========================================================================== */





   #contact-content, #about-content{
   	display: none;
   }


   .content {
   	background-color: #FFF;
   	bottom:0;
   	border: solid #24A6E8;
   	border-width: 15px 1px;
   	border-radius: 0;
   	box-shadow: none;
   	display: block;
   	height:auto;
   	margin-top: 52px;
   	opacity: 0.9;
   	overflow: hidden;
   	padding: 12px;
   	position: absolute; 
   	right:15px;
   	top:0;
   	width: 33.3333%;
   }

   .menu {
   	display: none;
   }

	.leaflet-control-container #geolocate{
		font-size: 16px;
	}

   .map-attribution {
   	position: fixed !important;
   }

   .map-tooltip {
   	display: none !important;
   }

   .loading {
   	background-image: url("../img/loader.gif") !important;
   	background-position: 50% 50% !important;
   	background-repeat: no-repeat !important;
   }

   .leaflet-control a.mapbox-share {
		background-image: none;
		font-size: 16px;
   }

/* ==========================================================================
   Leaflet overrides... 
   ========================================================================== */

   .leaflet-container {
   	background: none !important;
   }

   .leaflet-control-attribution {
   	bottom: 2px;		
   	left: 0;
   	position: fixed;
   }

	.leaflet-control {
		border-radius: 0;
		position: fixed;
		opacity: 0.8;
		left: 0;
	}
	
   .leaflet-control-zoom {
   		top: 52px;
   }

   .leaflet-control-mapbox-share {
		top: 125px;
   }

