<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ relative }}css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ relative }}css/common.css">
  <link rel="stylesheet" href="{{ relative }}css/map.css">
  <link rel="stylesheet" href="{{ relative }}css/bootstrap.css">
  <link rel="stylesheet" href="{{ relative }}css/whhg.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
    <![endif]-->
    <link rel="stylesheet" href="{{ relative }}css/main_posts.css">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">    
      <div class="navbar-inner">

        <span class="btn menu" data-icon="&#xe001;" aria-hidden="true" data-toggle="collapse" data-target=".nav-collapse"></span>
        <a href="http://visualsace.fr" >
          <img class="brand" src="{{ relative }}img/logo.svg" data-fallback="img/logo.png" alt="visualsace" />
        </a>

        <div class="container navbar-menu-container">
          <div class="nav-collapse collapse">
            <ul class="nav nav-pills">
              <li class="active"><a href="{{site.url}}" id="home">Accueil</a></li>
              <li><a href="#" id="about">A Propos</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>

      </div>
    </div> <!--/.navbar -->

    <div id="map" class="background"></div>

    <div class="container posts-container">
